@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/jquery-colorbox/example1/colorbox.css";
@import "../bower_components/sweetalert/dist/sweetalert.css";
/*Color Scheme*/
$gray : #C5C1C0;
$black : #0A1612;
$darkblue : #1A2930;
$gold : #F7CE3E;
.interact{
	display:none;
}
.entity{
	&:hover .interact{
		display:block;
	}
}

@import "sidebae.css";